@font-face {
    font-family: custom_ff;
    src: url('roboto.eot');
    src: url('roboto.eot?#iefix') format('embedded-opentype'),
    url('roboto.woff') format('woff'),
    url('roboto.ttf')  format('truetype'),
    url('roboto.svg#svgFontName') format('svg');
    unicode-range: U+00-024F;
}
@font-face {
    font-family: custom_ff;
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
    unicode-range: U+4E00-9FFF
}

  